Repository ilya-frontman/gulp-pug-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint, npm run puglint, npm run stylelint

.lintstagedrc:

{
  "*.js": "npm run eslint",
  "*.pug": "npm run puglint",
  "*.scss": "npm run stylelint"
}

fix base pug
  src/pug/layout/base.pug
Due: npm run puglint

add pre-push
  .husky/pre-push
Due: none

force stop: master/develop/main branch
  .husky/pre-commit
  .husky/pre-push
Due: none

include vendors multifiles (external libs)
  gulp/config.js
  gulp/tasks/vendors.js
  gulpfile.babel.js
  package.json
Due: npm run eslint

icons mixin
  src/pug/component/icon.pug
Due: npm run puglint

image mixin
  src/pug/component/image.pug
Due: npm run puglint

update head (move to parts)
  src/pug/part/head.pug
Due: npm run puglint

head-scripts block (parts)
  src/pug/part/head-scripts.pug
Due: npm run puglint

footer-scripts block (parts) common
  src/pug/part/footer-scripts.pug
Due: npm run puglint

footer-page block (parts)
  src/pug/part/footer-page.pug
Due: npm run puglint

header-page block (parts)
  src/pug/part/header-page.pug
Due: npm run puglint

update base template: * mixins * blocks
  src/pug/layout/base.pug
Due: npm run puglint

test main.bundle
  src/js/main.js
Due: npm run eslint

example vendors: * lazyload
  src/js/vendors/lazyload.js
Due: npm run eslint

fix webp (changed miss extension)
  gulp/tasks/images.js
Due: npm run eslint

change inputs path
  src/pug/component/image.pug
Due: npm run puglint

clear head script block
  src/pug/part/head-scripts.pug
  src/pug/part/head.pug
Due: npm run puglint

add lazyload to footer, before main bundle
  src/pug/part/footer-scripts.pug
Due: npm run puglint

init lazyload config
  src/js/vendors/lazyload.js
Due: npm run eslint

image with lazy-load (mixin) or use class 'lazy'
  src/pug/index.pug
Due: npm run puglint

update build: don't update image-min
  package.json
Due: none

update pre-commit (npx lint-staged)
  .husky/pre-commit
Due: none

Update sprites.js
  gulp/tasks/sprites.js
Due: npm run eslint
